<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>linkUp</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link rel="stylesheet" href="../../public/css/style.css">

</head>

<body class="grey lighten-3">
    <nav class="blue-grey darken-4">
        <div class="nav-wrapper">
            <i class="material-icons">people</i>
            <h6> <a href="../"> linkUp</a></h6>
        </div>
    </nav>

    {{!-- <div id="back-btn">
        <button class="waves-effect blue-grey darken-3 btn">Back</button>
    </div> --}}

    {{{body}}}
    </div>
    <footer class="page-footer blue-grey darken-4">

        <div class="container disclaimer">
            <div class="row">
                <div class="col s12">
                    <p class="grey-text text-lighten-4">This application uses Yelp API, Twilio API, Sequilize and
                        more. Check out the GitHub repo for more details</p>
                </div>
            </div>
        </div>

        <div class="footer-copyright">
            <div class="container">
                © 2020 Team linkUp
                <a class="grey-text text-lighten-4 right" href="https://github.com/baulpallas/linkUp">GitHub Repo</a>
            </div>
        </div>
    </footer>
    <script>
        $(document).ready(function () {
            $('select').formSelect();
        });
        $(document).ready(function () {
            $('.timepicker').timepicker({
                pickTime: true,
                useSeconds: false,
                format: 'hh:mm',
                interval: 30
            });
        });
        $(document).ready(function () {
            $('.datepicker').datepicker({});
        });
    </script>
    <script src="../public/backnav.js"></script>
    <script src="../public/displays.js"></script>
</body>

</html>