<div class="container">
    <div class="loader">
        <h2 style="font-size: 3rem;padding: 4rem 0 2rem;">Bare with us! <br> We are gathering results for
            your
            linkUp.
        </h2>

        <div class="lds-roller">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <div class="results">
        <h2 style="font-size: 3rem">Here's what we've got for you!</h2>
        <div class="row">
            <div class="col s12 m6 results-collection">
                <code>
            {{event}}
            </code>
            </div>
        </div>
    </div>
</div>

<script src="../public/result.js"></script>