<div class="container">
    <div class="new-event">
        <h2 style="padding: 3rem 0; font-size: 4.5rem;">Create your event!</h2>
        <form id="eventform">

            <input type="text" id="eventname" name="name" placeholder="ex. Drinks After Work" required>
            <label for="eventname">Enter your event name</label><br>
            <select id="partysize" name="partysize">
                <option value="1">1</option>
                <option value="2">2</option>
            </select>
            <label for="partysize">Select your party size:</label>
            <br><br>
            <button class="waves-effect blue-grey darken-3 btn" id="submit-event-btn" type="submit">Create</button>
        </form>
    </div>
    <div class="event-id">
        <h2 style="padding-top: 3rem;">Let's get you linkedUp!</h2>
        <h4>Your event id is</h4>
        <h3 id="eventid">

        </h3>
        <div class="enter-buttons">
            <button class="waves-effect blue-grey darken-3 btn"> <a id="eventbtn">What's
                    Next?</a></button>
        </div>
    </div>
</div>


<script src=" ../public/event.js"> </script>