<body>
    <form id="inputform">
        <label for="email">email</label><br>
        <input type="text" id="email" name="email"><br>
        <label for="password">password</label><br>
        <input type="text" id="password" name="password">
        <label for="nickname">nickname</label><br>
        <input type="text" id="nickname" name="nickname">
        <br><br>
        <button id="submitbtn" type="submit"> submita</button>
    </form>
    <div>
        <tbody>
            {{#each creator}}
            <tr>
                {{!-- <td><code>{{this}}</code></td> --}}
                <td>{{this.dataValues.email}}</td>
                <td>{{this.dataValues.password}}</td>
                <td>{{this.dataValues.nickname}}</td>
            </tr>
            {{/each}}
        </tbody>
    </div>
    <script src="../public/home.js"></script>

</body>