<<<<<<< HEAD
<body>

</body>
=======
<div class="container">
    <div class="welcome-msg">
        <h1>Welcome to linkUp!</h1>
        <h2>Enter as a ...</h2>
        <div class="enter-buttons">
            <a class="waves-effect blue-grey darken-3 btn-large" id="host-btn">Host</a>
            <a class="waves-effect blue-grey darken-3 btn-large" id="guest-btn">Guest</a>
        </div>
    </div>
    <div class="host">
        <h1>hi i am a host!!</h1>
    </div>
</div>
>>>>>>> master
