<div class="container">
    <div class="welcome-msg" style="padding-top: 6rem;">
        <h2>Welcome to linkUp!</h2>
        <h4>Enter as a ...</h4>
        <div class="enter-buttons">
            <a class="waves-effect blue-grey darken-3 btn-large" id="host-btn">Host</a>
            <a class="waves-effect blue-grey darken-3 btn-large" id="guest-btn">Guest</a>
        </div>
    </div>
    <div class="host">
        <h2>Get ready to linkUp!</h2>
        <h4>I am a ...</h4>
        <div class="enter-buttons">
            <a class="waves-effect blue-grey darken-3 btn-large" id="new-host-btn">New User</a>
            <a class="waves-effect blue-grey darken-3 btn-large" id="existing-host-btn">Existing User</a>
        </div>
    </div>
    <div class="newhost" style="padding-top: 2rem;">
        <h2 style="text-align: left">Sign Up!</h2>
        <form id="inputform">
            <br>
            <input type="email" id="email" name="email" class="validate" placeholder="johnappleseed@linkup.com"
                required>
            <label for="email">Enter your email address</label>
            <br>
            <input type="password" id="password" name="password" required>
            <label for="password">Enter a password</label>
            <br>
            <input type="text" id="nickname" name="nickname" placeholder="ex. Johnny">
            <label for="nickname">Enter a nickname (optional)</label>
            <br><br>
            <button class="waves-effect blue-grey darken-3 btn" id="submitbtn" type="submit">Submit <i
                    class="material-icons right">send</i></button>
        </form>
    </div>
    <div class="exisitnghost" style="padding-top: 2rem;">
        <h2 style="text-align: left">Sign In</h2>
        <form id="signinform">
            <input type="email" id="exhostemail" name="exhostemail" class="validate" required>
            <label for="email">Enter your email address</label>
            <br>
            <input type="password" id="exhostpassword" name="exhostpassword" required>
            <label for="password">Enter your password</label>
            <br><br>
            <button class="waves-effect blue-grey darken-3 btn" id="log-in-btn" type="button">Login</button>
        </form>
    </div>
    <div class="host-home">
        <h2 style="font-size: 3rem" id='host-welcome'></h2>
        <div class="grid">
            <button class="waves-effect blue-grey darken-3 btn-large" id="new-event-btn" style="margin-bottom: 10px">
                <a>create
                    new event</a> </button>
        </div>
    </div>
    <div class="guest">
        <h2 style="padding-bottom: 3rem;">Get ready to linkUp!</h2>
        <form id="event-id">
            <input type="number" id="eventid" name="eventid" required>
            <label for="eventid">Enter your event ID</label>
            <br><br>
            <button id="join-btn" class="waves-effect blue-grey darken-3 btn enter-pref" type="button">Enter</button>
        </form>
    </div>
    <div class="invalid-user" style="padding-top: 2rem;">
        <h2>Invalid user entry,
            please try again.</h2>
        <div class="grid">
            <a class="waves-effect blue-grey darken-3 btn" id="existing-login-btn">Login</a>
        </div>
    </div>
</div>
<script src="../public/home.js"></script>